@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

input {
    font-family: 'Open Sans', sans-serif;
}

html, body {
    background-color: #E5E5E5;
    font-family: 'Open Sans', sans-serif;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    overflow: hidden;
}

section {
    width: 1225px;
    height: 753px;
    border-radius: 24px;
    display: flex;
}

#res {
    font-size: 15px;
    font-weight: 600;
    color: red;
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
}

#yes {
    font-size: 15px;
    font-weight: 600;
    color: rgb(0, 255, 0);
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
}

.yes {
    display: flex;
    justify-content: center;
    color: limegreen;
    font-weight: 500;
}

.no {
    display: flex;
    justify-content: center;
    color: red;
    font-weight: 500;
}

section .block {
    width: 732px;
    height: 753px;
    background-color: #3949AB;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
}

section .regs {
    width: 486px;
    height: 753px;
    background-color: #fff;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    z-index: 2;
    opacity: 0.6;
}

.regs strong {
    font-size: 24px;
    color: #343434;
    display: flex;
    justify-content: center;
    margin: 100px 0 0 0;
    cursor: default;
}

.brand-wrapper {
    position: relative;
}

.brand {
    position: absolute;
    top: 100px;
    left: 100px;
}

.info-wrapper {
    width: 732px;
    height: 753px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-wrapper strong {
    font-size: 24px;
    color: #fff;
    margin: -50px 0 0 0;
    cursor: default;
}

.info-wrapper small {
    color: #fff;
    cursor: default;
}

.donut-wrapper {
    position: relative;
}

.donut1 {
    position: absolute;
    top: 350px;
    right: 505px;
}

.donut2 {
    position: absolute;
    bottom: -20px;
    left: 250px;
}

.input-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container {
    display: flex;
    justify-content: center;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px 0 0 0;
}

.input-wrapper input {
    width: 358px;
    height: 40px;
    border: 1px solid #bdbdbd;
    border-radius: 10px;
    padding: 0 0 0 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #000;
    font-weight: 300;
}

.input-icon {
    display: flex;
    align-items: center;
    position: relative;
}

.input-icon span {
    position: absolute;
    font-size: 20px;
    left: 350px;
}

.input-icon:not(:first-child) {
    margin: 10px 0 0 0;
}

.butt-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
}

.butt-wrapper button {
    width: 380px;
    height: 40px;
    background-color: #0022ff;
    border: none;
    border-radius: 24px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.eyes-pass {
    position: absolute;
    left: 385px;
    font-size: 25px;
    margin: -5px 0 0 0;
    cursor: pointer;
}